table{
    border: #000 solid 1px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
td{
    border: #000 solid 1px;
}
tr{
    border: #000 dashed 2px;
}

