table {
  border: #000 solid 1px;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.editable-table td {
  padding: 0;
}

td {
  border: #000 solid 1px;
  padding: 5px 10px;
}
tr {
  border: #000 dashed 2px;
}

select {
  width: 200px;
}

#name_of_group {
  width: 250px;
}
/* day */
.day {
    min-height: 48px;
    padding: 10px;
    margin: 25px 0;
    background-color: white;
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 15px;
}
.class_select,
.type_select,
.classroom_select {
  width: 100px;
}

.time {
    border: #000 solid 1px;
    margin: 3px;
    padding: 5px;
    border-radius: 15px;
}

.buttons-area {
  position: absolute;
  /* right: 10%; */
  display: none;
}

.number-cont {
  /* width: min-content; */
  padding: 3px;
  /* border: #000 solid 1px; */
  display: inline-block;
  margin: 4px 0;
  text-decoration: underline;
}

.class-cont {
  width: 100%;
  position: relative;
  /* border: #000 solid 1px; */
  display: inline-block;
  vertical-align: top;
}
.class {
  margin: 1px 0;
  padding: 5px;
  border: black solid 1px;
  border-radius: 0.5em;
}

.class-cont .class:hover {
  background-color: rgba(169, 169, 169, 0.295);
  min-width: 25px;
}

.add-select {
  display: none;
  margin: 5px;
}

.editable-select {
  display: none;
  margin: 5px 0;
}

.class:hover .buttons-area {
  display: inline-block;
  right: 5%;
}

.day_of_week {
  width: fit-content;
  padding: 5px;
  margin: 0 auto;
  font-size: 24px;
}

/* MENU */

#menu-cont {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: #a5b9ca75;
  padding: 10px;
  border: 1px solid black;
  border-radius: 0.3em;
}

#auth {
  text-align: center;
  margin: 0 auto;
  width: 300px;
  background-color: #a5b9ca75;
  padding: 10px;
  border: 1px solid black;
  border-radius: 0.3em;
  /* color: white; */
  position: relative;
}

#auth input {
  width: 200px;
}

#auth-text-cont {
  font-size: 28px;
  margin-bottom: 10px;
}

.btn-back .btn {
  width: 100px;
  text-align: center;
  position: absolute;
  right: 50px;
  z-index: 1000;
}
.btn {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 0.3em;
    border: #000 1px solid;
    margin: 10px 0;
    cursor: pointer;
    min-width: 27px;
    text-decoration: none;
    color: black;
}

button,input[type='submit'],input[type='button']{
  background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 0.3em;
    border: #000 1px solid;
    margin: 10px 0;
    cursor: pointer;
    min-width: 27px;
    text-decoration: none;
    color: black;
}

a .btn-text {
  /* text-decoration: none; */
  color: #000;
  text-decoration-line: none;
}

#menu-cont a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-family: Open Sans;
}

.group {
    margin: 10px 0;
    padding: 10px;
    /* width: 100%; */
    border: #000 1px solid;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
}

.class-edit {
  margin: 10px 0;
  padding: 10px;
  width: 550px;
  border: #000 1px solid;
    border-radius: 15px;
    background-color: #fff;
}

.teacher {
  margin: 10px 0;
  padding: 10px;
  width: 550px;
  border: #000 1px solid;
    border-radius: 15px;
    background-color: #fff;
    position: relative;
}
.classroom {
  margin: 10px 0;
  padding: 10px;
  /* width: 550px; */
  border: #000 1px solid;
    border-radius: 15px;
    background-color: #fff;
}

.type {
  margin: 10px 0;
  padding: 10px;
  width: 550px;
  border: #000 1px solid;
    border-radius: 15px;
    background-color: #fff;
}

/* .group-class{
    margin: 10px 0;
    padding: 10px;
    border: #000 1px solid;
    position: relative;
} */

.btn-cont {
  display: none;
}

#name-new-group input {
  width: 300px;
}

#cont-add-group {
  display: none;
}

#cont-add-class {
  display: none;
}

#cont-add-teacher {
  display: none;
}

#cont-add-classroom {
  display: none;
}

#cont-add-type {
  display: none;
}

.edit-cont {
  display: none;
}

.edit-cont div {
  margin: 5px;
}

.teacher .edit-input-name {
  width: 300px;
  position: absolute;
  left: 15%;
}

#btn-save-time {
  display: none;
}
#col-cont select {
  width: 100%;
}
.col {
  margin: 5px;
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.selected-option {
  text-align: center;
}

#cont-btn-find {
  text-align: center;
}

.col .btn-cont {
  display: block;
  text-align: center;
}
#all {
  margin: 0 auto;
  width: 655px;
  position: relative;
  padding: 20px;
  background-color: #a5b9ca75;
  border: #000 3px solid;
  border-radius: 15px;
  /* color: white; */
}

#all table {
  background-color: #fff;
  color: #000;
}

#all .btn {
  right: 10px;
}

@media screen and (max-width: 768px) {
  #all {
    margin: 0 auto;
    width: 100%;
    position: relative;
  }

  table {
    font-size: 3vw;
  }

  td {
    padding: 5px;
  }

  a {
    font-size: larger;
  }

  #menu-cont {
    width: 85%;
  }

  .btn-back .btn {
    width: 10%;
    font-size: small;
    text-align: center;
    position: absolute;
    right: 0;
  }

  #auth {
    width: 90vw;
  }
}
