table{
    border: #000 solid 1px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.editable-table td{
    padding: 0;
}

td{
    border: #000 solid 1px;
    padding: 5px 10px;
}
tr{
    border: #000 dashed 2px;
}

select{
    width: 200px;
}

#name_of_group{
    width: 250px;
}
/* da */
.day{
    min-height: 48px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(228, 228, 228, 0.247);
    border: rgb(0, 0, 0) solid 1px;
}
.class_select,.type_select,.classroom_select{
    width: 100px;
}

.time{
    border: #000 solid 1px;
    margin: 3px;
    padding: 5px;
}

.buttons-area{
    position: absolute;
    /* right: 10%; */
    display: none;
}

.number-cont{
    /* width: min-content; */
    padding: 3px;
    /* border: #000 solid 1px; */
    display: inline-block;
    margin: 4px 0;
}

.class-cont{
    width: 100%;
    position: relative;
    /* border: #000 solid 1px; */
    display: inline-block;
    vertical-align: top;
}
.class{
    margin: 1px 0;
    padding: 5px;
    border: black solid 1px;
}

.class-cont .class:hover{
    background-color: rgba(169, 169, 169, 0.295);
    min-width: 25px;
}

.add-select{
    display: none;
    margin: 5px;
}

.editable-select{
    display: none;
    margin: 5px 0;
}

.class:hover .buttons-area{
    display: inline-block;
    right: 5%;

}

.day_of_week{
    width: fit-content;
    padding: 5px;
    margin: 0 auto;
}



/* MENU */

#menu-cont{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: beige;
    padding: 10px;
    
}
.btn{
    background-color: azure;
    padding: 5px;
    border-radius: 0.3em;
    border: #000 1px solid;
}
a .btn-text{
    text-decoration: none;
    color: black;
}

.group{
    margin: 10px 0;
    padding: 10px;
    width: 550px;
    border: #000 1px solid;
}

.class-edit{
    margin: 10px 0;
    padding: 10px;
    width: 550px;
    border: #000 1px solid;
}

.teacher{
    margin: 10px 0;
    padding: 10px;
    width: 550px;
    border: #000 1px solid;
    position: relative;
}
.classroom{
    margin: 10px 0;
    padding: 10px;
    width: 550px;
    border: #000 1px solid;
}

/* .group-class{
    margin: 10px 0;
    padding: 10px;
    border: #000 1px solid;
    position: relative;
} */

.btn-cont{
    display: none;
}

#name-new-group input{
    width: 300px;
}

#cont-add-group{
    display: none;
}

#cont-add-class{
    display: none;
}

#cont-add-teacher{
    display: none;
}

#cont-add-classroom{
    display: none;
}

.edit-cont{
    display: none;
}

.edit-cont div{
    margin: 5px;
}

.teacher .edit-input-name{
    width: 300px;
    position: absolute;
    left: 15%;
}

#btn-save-time{
    display: none;
}
#col-cont select{
    width: 100%;
}
.col{
    margin: 5px;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.selected-option{
    text-align: center;
}

#cont-btn-find{
    text-align: center;
}

.col .btn-cont{
    display: block;
    text-align: center;

}
@media screen and (max-width: 768px) {
    table{
        font-size: 3vw;
    }
    td{
        padding: 5px;
    }
    a{
        font-size: larger;
    }

    #menu-cont{
        width: 85%;     
    }
}